@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

body, html{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: white;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

@font-face{
    font-family: myFont;
    src:url(outagecut.ttf);
}
*{
    font-family: myFont;
}

tr:nth-child(even) {  
    background-color: #ffffff;  
} 

@media only screen and (max-width: 600px) {
    .slotparent{
        flex-direction: row;
    }
    .slotdiv{
        flex-direction: column;
    }
    .rower{
        flex-direction: column;
    }
}

button {
    color:#fff;
    border:none;
    padding:10px 30px;
    background:
    linear-gradient(143deg,red 70%,transparent 72%) 100% 0/20px 100% no-repeat,
    linear-gradient(-37deg,red 70%,transparent 72%) 0 0/20px 100% no-repeat,

    linear-gradient(143deg,red 70%,transparent 72%) 100% 0/20px 100% no-repeat,
    linear-gradient(-37deg,red 70%,transparent 72%) 0 0/20px 100% no-repeat,
    
    linear-gradient(red,red) 20px 0/calc(100% - 40px) 100% no-repeat;
  }